body {
    margin: 0;
    color: white;
    font-family: "Netflix Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-image: url('/assets/img/fundo.jpg');
    background-repeat: no-repeat;
    background-color: #000;

}

.botao {
    position: relative;
    background-color: #E50914;
    border-radius: 3px;
    border: 0px;
    color: white;
    font-size: 18px;
    padding: 7px 17px;
    font-weight: 400;
    left: 30px;
}

.botao:hover {
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0.4);
    border: 1px solid #aaa;
    color: #fff;
    font-size: .875rem;
    height: 34px;
    width: 110px;
    padding-left: 10px;
    border-radius: 3px;

}
#principal {
    padding-top: 20px;
    height: 690px; 
    background-color: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top, rgba(0,0,0,0.8) 0px, rgba(0,0,0,0) 40%, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 100%);
    border-bottom: 8px solid #222 ;
}
#topo {
    display: flex;
    flex-direction: row;
    height: 30px;
    margin-left: 5%;
    margin-right: 5%;

}


#logo{ 
    max-width: 135px;
}
#esquerda {
    height: 30px;
}

#direita {
    width: 75%;
    height: 30px;
    text-align: right;
}

#chamadas {
    width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}

#chamadas > h2 {
    font-size: 50px ;
    
}

#chamadas > h4 {
    font-size: 26px;
    font-weight: normal;
}

.cadastro {
    font-size: 18px;
    font-weight: normal;
    margin: auto;
    width: 50%;
    text-align: center;
}

.destaques {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #000;
    border-bottom: 8px solid #222;

}
.texto {
    width: 50%;

}

.texto > h3 {
    font-size: 50px;
    margin-bottom: 10px;

}
.texto > h4 {
    font-size: 24px;
    font-weight: normal;
}
.foto {
    width: 50%;
}

.foto > img {
    width: 95%;

}

#faq {
    background-color: #000;
    border-bottom: 8px solid #333;
    padding-bottom: 60px;
}

#faq > h2 {
    text-align: center;
    font-size: 48px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 60px;
    
}
details {
    background-color: #333;
    width: 50%;
    margin: auto;
    font-size: 24px;
    padding: 20px;
    margin-bottom: 10px;

}

details > summary {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}



details > summary::after {
    content: '+';
}

details[open] > summary::after {
    content: '-';
}

footer {
    width: 60%;
    margin: auto;
}

#rodape {
    display: flex;
    flex-direction: row;
    line-height: 24px;
    font-size: 12px;
    color: #666;
    
}

#rodape > ul {
    width: 25%;
    justify-content: space-between;
    list-style: none;
    padding: 0px;
}


#final {
    color: #666;
    font-size: 12px;
}



@media screen and (max-width:600px) {

    #principal {
        width: 100vw;
        height: 100%;
    }
    .cadastro {
        width: 90%;
    }
    #chamadas {
        width: 90%;
    }

    .submit_cadastro {
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .destaques {
        flex-direction: column;
        text-align: center;
    }

    .texto {
        width: 100%;
    }
    .foto {
        width: 100%;
    }
    .texto > h3 {
        font-size: 42px;

    }

    .texto > h4 {
        font-size: 18px;
    }

    #faq > h2 { 
        font-size: 42px;
    }

    details {
        width: 70%;
    }

    
}

.email_cadastro {
    width: 500px;
    height: 48px;
    border: 0;
    padding-left: 20px;
    font-size: 18px;
}


.submit_cadastro {
    height: 52px;
    width: 111px;
    background-color: rgb(229, 9, 20);
    border: 0px;
    color: #fff;
    font-size: 18px;
    margin-left: -5px;
}

.submit_cadastro:hover {
    cursor: pointer;
}
